@model test2.Models.Posicion

<div class="container row">



    <div id="notification" style="display: none;" class="alert alert-success alert-dismissible" role="alert">
        <strong></strong> <span></span>
      
    </div>


    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
    }
    <div class="m-auto col-md-5">
        <h1>Editar Posicion</h1>


       <!-- Formulario para editar la Posici贸n -->
@using (Html.BeginForm("Edit", "Posiciones",  new { id = Model.Id },FormMethod.Post))
{
    @Html.AntiForgeryToken()  <!-- Para protecci贸n contra ataques CSRF -->

    <div class="form-group">
       
        @Html.HiddenFor(m => m.Id)  <!-- Usamos HiddenFor para que el Id sea enviado en el formulario pero no sea visible -->
    </div>

    <div class="form-group">
        <label for="Name">Nombre de la Posici贸n</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Nombre de la Posici贸n" }) <!-- Campo de texto para editar el Name -->
    </div>

    <button type="submit" class="btn btn-primary">Editar</button>
}
    </div>






</div>




